<%= render 'navbar' %><br>
    <div id="home">
      <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#home-slider" data-slide-to="0" class="active"></li>
          <li data-target="#home-slider" data-slide-to="1"></li>
          <li data-target="#home-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active" style="background: url(http://ppcorn.com/us/wp-content/uploads/sites/14/2016/01/Mullets-80s-ppcorn.jpg); padding-top: 50px">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="carousel-content">
                    <h4 class="animated fadeInUpBig text-right" style="color: white; text-shadow: 1px 1px 2px black">Nadines Boyfriend Chaz ~> </h4>
                    <div style="padding-top: 200px">
                      <h2 class="animated rollIn text-left" style="color: white; text-shadow: 1px 1px 2px black"><span class="text900">Welcome to DudCycle</span><br> The World's 27th leading<br> clothing giveaway site that <br>noone knows about <br> built with love and coffee<i class="fa fa-heart-o"></i><span class="text900">!</span><br><br> <a href="#" class="btn btn-purple btn-lg"></a></h2>  
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
          <div class="item" style="background: url(http://www.elgenahearts.com/wp-content/uploads/2015/07/What-to-wear11-1024x682.jpg);">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="carousel-content">
                    <h1 class="animated fadeInRightBig text-right" style="color: white; padding-top: 25px; text-shadow: 1px 1px 2px black">Use it or lose dummy!</h1>
                    <div style="padding-top: 290px"></div>
          <h2 class="animated fadeInDownBig text-left" style="color: magenta; text-shadow: 1px 1px 2px black">Are you pulling your hair out because you have pounds upon pounds of clothing you don't ever wear? #shootyourselfinahurry</h2>
          <a class="btn btn-purple btn-lg animated fadeInRight" href="#" style="color: white"> &raquo;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <a class="left carousel-control" href="#home-slider" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#home-slider" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
        <div class="pattern"></div>
      </div>

    </div>
    <!-- end:slider -->
  
  <!-- begin:tagline -->  
  
  <!-- end:tagline -->
  
  <!-- begin:featured -->
  
  <!-- end:featured -->
  
  <!-- begin:catalogue -->
<div class="row">
<div class="col-md-3 col-sm-4 col-xs-12">
  <% @garments.each do |garment| %>
    
      <div class="container">
        <div class="caption-img"></div>
          <div class="caption-details">
            <div class="garment_single col-md-4 col-sm-8 col-xs-12" style="font-family: avenir; background-color: white; border-radius: 30px; padding: 3px 5px 3px 5px; margin: 2px">
              <h2 class="garment_header" style="font-weight: bold"><%= garment.title %></h2>
                <p>Description: <%= garment.description %></p>
                <p>size: <%= garment.size %></p>
                <p>material: <%= garment.material %></p>
                <p>condition: <%= garment.condition %></p>
                <p>category: <%= garment.category %></p>
                <div class="col-md-4 col-sm-8 col-xs-12"><img src="https://bloximages.chicago2.vip.townnews.com/tdn.com/content/tncms/assets/v3/editorial/e/13/e1395ddd-9927-5446-8a25-47d2b7178d6b/5956e58dc023e.image.jpg?resize=300%2C450" style="justify-content: right;"></div>
                  
          </div>
                  
      </div>
      <a href="detail.html"><div class="caption-link"><i class="fa fa-plus"></i></div></a>
    </div>
  <% end %>
</div>



 
    
  
